<a href="https://colab.research.google.com/github/Minsu-Byun/study/blob/main/Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
A,B = map(int, input().split()) #int(input())
print(A+B)

1 2
3

In [ ]:
A, B = map(int, input().split())
print(A/B)

1 2
0.5

In [ ]:
A = input() # string(input()) 안댐
print(A + '??!') # + 대신 , 쓰면 띄어쓰기가 포함되어 출력

abc
abc??!

In [ ]:
print(int(input()) - 543)

2541
1998

In [ ]:
A = "http://naver.com"
B = A[7:] # B = A.replace("http://", "")
C = B[:B.index(".")]
print(C + "의 비밀번호는 " + B[0:3] + str(len(C)) + str(B.count("e")) + "!" + "입니다.")

naver의 비밀번호는 nav51!입니다.

In [ ]:
from random import *

users = range(1, 21) # 1~20 숫자 생성
users = list(users)
# print(users)

shuffle(users)
# print(users)

winners = sample(users, 4)

print("당첨자 발표")
print("치킨 당첨자 : {0}".format(winners[0]))
print("커피 당첨자 : {0}".format(winners[1:]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
당첨자 발표
치킨 당첨자 : 9
커피 당첨자 : [1, 11, 16]

In [ ]:
from random import *
# A = range(1,51)
# B = randrange(1, 50)
# print(A)
# print(B)
count = 0
for i in range(1,51):
  time = randrange(5, 51)
  if 5 <= time <= 15:
    print("[O] {0}번째 손님 (소요시간 : {1}분)".format(i, time))
    count += 1
  else:
    print("[ ] {0}번째 손님 (소요시간 : {1}분)".format(i, time))

print("총 탑승 승객 : {0}분".format(count))

[O] 1번째 손님 (소요시간 : 11분)
[O] 2번째 손님 (소요시간 : 9분)
[ ] 3번째 손님 (소요시간 : 16분)
[ ] 4번째 손님 (소요시간 : 49분)
[ ] 5번째 손님 (소요시간 : 40분)
[ ] 6번째 손님 (소요시간 : 34분)
[ ] 7번째 손님 (소요시간 : 23분)
[ ] 8번째 손님 (소요시간 : 28분)
[O] 9번째 손님 (소요시간 : 6분)
[ ] 10번째 손님 (소요시간 : 29분)
[ ] 11번째 손님 (소요시간 : 29분)
[ ] 12번째 손님 (소요시간 : 37분)
[ ] 13번째 손님 (소요시간 : 28분)
[ ] 14번째 손님 (소요시간 : 25분)
[ ] 15번째 손님 (소요시간 : 29분)
[ ] 16번째 손님 (소요시간 : 41분)
[ ] 17번째 손님 (소요시간 : 21분)
[O] 18번째 손님 (소요시간 : 7분)
[ ] 19번째 손님 (소요시간 : 27분)
[ ] 20번째 손님 (소요시간 : 41분)
[ ] 21번째 손님 (소요시간 : 33분)
[ ] 22번째 손님 (소요시간 : 45분)
[O] 23번째 손님 (소요시간 : 6분)
[ ] 24번째 손님 (소요시간 : 23분)
[ ] 25번째 손님 (소요시간 : 26분)
[ ] 26번째 손님 (소요시간 : 40분)
[ ] 27번째 손님 (소요시간 : 21분)
[ ] 28번째 손님 (소요시간 : 40분)
[ ] 29번째 손님 (소요시간 : 32분)
[ ] 30번째 손님 (소요시간 : 19분)
[ ] 31번째 손님 (소요시간 : 49분)
[ ] 32번째 손님 (소요시간 : 38분)
[ ] 33번째 손님 (소요시간 : 19분)
[O] 34번째 손님 (소요시간 : 11분)
[ ] 35번째 손님 (소요시간 : 32분)
[ ] 36번째 손님 (소요시간 : 21분)
[ ] 37번째 손님 (소요시간 : 36분)
[ ] 38번째 손님 (소요시간 : 16분)
[ ] 39번째 손님 (소요시간 : 41분)
[ ] 40번째 손님 (소요시간 : 23분)
[O] 41번째 손님 (소요시간 : 14분)
[O] 42번째 손님 (소요시간 : 7분)
[ ] 43번째 손님 (소요시간 : 46분)
[ ] 44번째 손님 (소요시간 : 27분)
[O] 45번째 손님 (소요시간 : 5분)
[ ] 46번째 손님 (소요시간 : 24분)
[ ] 47번째 손님 (소요시간 : 26분)
[O] 48번째 손님 (소요시간 : 15분)
[O] 49번째 손님 (소요시간 : 7분)
[ ] 50번째 손님 (소요시간 : 26분)
총 탑승 승객 : 11분

In [ ]:
def std_weight(height, gender):
  if gender == "남자":
    print("키 %dcm 남자의 표준 체중은 %0.2fkg 입니다." % (height, height * 0.01 * height * 0.01 * 22))
  else:
    print("키 %dcm 여자의 표준 체중은 %0.2fkg 입니다." % (height, height * 0.01 * height * 0.01 * 21))

std_weight(170, "남자")
std_weight(159, "여자")

###### 정답
def std_weight(height, gender):
  if gender == "남자":
    return height * height * 22
  else:
    return height * height * 21
  
height = 175
gender = "남자"
weight = round(std_weight(height / 100, gender), 2)
print("키 {0}cm {1}의 표준 체중은 {2}kg 입니다.".format(height, gender, weight))

키 170cm 남자의 표준 체중은 63.58kg 입니다.
키 159cm 여자의 표준 체중은 53.09kg 입니다.

In [ ]:

# for i in range(1,51):
#   with open(str(i) + "주차.txt", "w", encoding="utf8") as report_file:
#     report_file.write("""- X 주차 주간보고 -
# 부서 : 
# 이름 : 
# 업무 요약 : """)

In [ ]:
class House:
  def __init__(self, location, house_type, deal_type, price, completion_year):
    self.location = location
    self.house_type = house_type
    self.deal_type = deal_type
    self.price = price
    self.completion_year = completion_year
    
  def show_detail(self):
    print("{0} {1} {2} {3} {4}".format(self.location, self.house_type, self.deal_type, self.price, self.completion_year))
#    print(self.location, self.house_type, self.deal_type, self.price, self.completion_year)


houses = []
house1 = House("강남", "아파트", "매매", "10억", "2010년")
house2 = House("마포", "오피스텔", "전세", "5억", "2007년")
house3 = House("송파", "빌라", "월세", "500/50", "2000년")
houses.append(house1)
houses.append(house2)
houses.append(house3)

print("총 {0}대의 매물이 있습니다.".format(len(houses)))

for House in houses:
  House.show_detail()

총 3대의 매물이 있습니다.
강남 아파트 매매 10억 2010년
마포 오피스텔 전세 5억 2007년
송파 빌라 월세 500/50 2000년

In [ ]:
print('''|\_/|
|q p|   /}
( 0 )"""\\
|"^"`    |
||_/=\\\__|''')

|\_/|
|q p|   /}
( 0 )"""\
|"^"`    |
||_/=\__|

In [ ]:
A = int(input())
B = int(input())
print(A * (B%10)) # % = 나누고 난 후 나머지
print(A * (B%100//10)) # // = 나누고 난 후 몫, / = 나머지
print(A * (B//100))
print(A*B)

472
386
2832
3776
1416
182192

In [ ]:
A,B = map(int,input().split(" "))
if A > B:
  print(">")
elif A < B:
  print("<")
elif A == B:
  print("==")

1 2
<

In [ ]:
A = int(input())
if (A % 4 == 0 & A % 100 != 0) or (A % 400 == 0):
  print(1)
else:
  print(0)

1996
0

In [ ]:
class SoldOutError(Exception):
  pass

chicken = 10
waiting = 1
while(True):
  try:
    print("[남은 치킨 : {0}]".format(chicken))
    order = int(input("치킨 몇 마리 주문하시겠습니까?"))
    if order > chicken:
      print("재료가 부족합니다.")
    elif order <= 0:
      raise ValueError
    else:
      print("[대기번호 {0}번] {1} 마리 주문이 완료되었습니다.".format(waiting, order))
      waiting += 1
      chicken -= order

    if chicken == 0:
      raise SoldOutError

  except ValueError:
    print("잘못된 값을 입력하였습니다.")
  except SoldOutError:
    print("재고가 소진되어 더 이상 주문을 받지 않습니다.")
    break

[남은 치킨 : 10]
치킨 몇 마리 주문하시겠습니까?10
[대기번호 1번] 10 마리 주문이 완료되었습니다.
재고가 소진되어 더 이상 주문을 받지 않습니다.